/*--------------------------------------------------------- 
                    #Index 
---------------------------------------------------------
  #Global  
    #Variables
    #BaseSelectors
  #MainClasses
    #GeneralClasses
    #Header
    #Footer
*/

/*--------------------------------------------------------- 
                    #Global 
---------------------------------------------------------*/


/*----------
#Variables
---------*/

:root {
  --main: #FFB800;
  --light-accent: #118AB2;
  --dark-accent: #E6480F;
  --light: #F7F7F2;
  --dark: #090A0B;

  --heading-font: 'Lato', sans-serif;
  --body-font: 'Modak', sans-serif;

  --bottom-margin: 0 0 15px 0;
  --bigger-margin: 0 0 30px 0;
  --box-shadow: 4px 4px 32px 0px #090A0B33;
  --box-shadow-top: 0 0 8px 0px #090A0B33;
  --box-shadow-inset: inset 0px 1px 4px 1px  #090A0B;
  --default-radius: 2em;

}

/*----------
#BaseSelectors
---------*/  



/*--------------------------------------------------------- 
                    #MainClasses 
---------------------------------------------------------*/


/*---------
#GeneralClasses
---------*/

.shadow-radius {
  box-shadow: var(--box-shadow);
  border-radius: var(--default-radius);
}

.background {
  background-image: url("../images/white-waves.png");
  background-attachment: fixed;
}

 .inset{
  box-shadow: var(--box-shadow-inset);
}

.inset-background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-shadow: var(--box-shadow-inset);
 }

.inset-background-right {
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: var(--box-shadow-inset);
}
@media (max-width: 500px) {
  .inset-background-right {
    background-attachment: scroll;
    background-size: cover;
  }
}

.inset-background-left {
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  box-shadow: var(--box-shadow-inset);
}
@media (max-width: 500px) {
  .inset-background-left {
    background-attachment: scroll;
    background-size: cover;
  }
}


/*---------
#Header
---------*/

/* Resize the logo image */
.navbar-brand img {
    height: 3rem;
}


/*---------
#Footer
---------*/

/* Resize the logo image */
#main-footer i {
    font-size: 3rem;
}